
/*  header EM celular */


@media (max-width: 900px) {
   
  
  .waves {
      height: 40px;
      min-height: 40px;
    }
  
    
    .header {
      position: relative;
      text-align: center;
      background: linear-gradient(
        60deg,
        rgba(84, 58, 183, 1) 0%,
        rgba(0, 172, 193, 1) 100%
      );
      color: white;
    }
    
    .logo {
      
      fill: white;
      display: inline-block;
      vertical-align: middle;
      font-family: var(---fonte1);
      font-weight: 900;
  }
  
  .ctrHeader {
      margin-left: 100px !important;
      color: white;
      background-color: #00B48F;
      border-radius: 30px;
      border: none;
      width: 120px;
      height: 38px;
      font-weight: 700;
      font-size: 15px;
  }
  
    .ctrHeader:hover{
      background-color: #ffffff;
      border: 2px solid #00B48F ;
      color:#00B48F;
      cursor: pointer;
      scale: 1;
      transition: 1s;
    }
  
  
    
    .inner-header {
      height: 10vh;
      width: 90vw; /* Define a largura para 90% da largura da tela */
     /* Define uma largura máxima para o elemento */
      margin: 0 auto;
      padding: 0;
    }
    
    .flex {
      /*Flexbox for containers*/
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    }

/*  main EM celular */
@media (max-width: 900px) {
  
    .h1PrincipalMain{
        
        font-size: 26px;
        margin-left: 15px;
        margin-right: 15px;
        font-weight: 900;
        
    }

    p{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 15px;
        line-height: 1.6;
        color: rgba(49, 49, 49, 0.932);
        font-weight: 500;
    
    }

    p.p3{
      margin-top: 1px;
    }

    p.sitesProfissionais{

        margin-top: 30px;
        font-size: 13px;
        margin-bottom: -2px;
    }


    button.CTR{
        width: 240px ;
        height: 55px;
    }

    .estrelas label i.fa{
        font-size: 0.7em;
        margin-top: -100px;
      }
}



/*  COMO*/
@media (max-width: 1100px) {

  section.especiliadades{
    
    width: 67%;
        background: linear-gradient(to top, #1C87BE 10%, white 10%);
        
  }


    .especiliadades .flex {
      flex-direction: column;
      align-items: center;
      
      
    }
  
    .especiliadades .especialidades-box {
      color: #000000;
      padding: 40px;
      border-radius: 20px;
      margin-top: 20px;
      margin-bottom: -50px;
      transition: .2s;
      box-shadow: 0 0 20px #00000078;
      width: 190px;
      height: 160px; /* Set a fixed height */
  }
  


    h2.titulo{
      text-align: center;
      font-weight: 800;
      font-size: 21px;
      }
      
      

      section.especiliadades {
          padding: 40px 18%;
      }
      
      .especiliadades .especialidades-box:hover {
        transform: scale(1.05);
    }
      
      .especiliadades .especialidades-box i {
          font-size: 40px;
          color: #002fff;
      }
      
      .especiliadades .especialidades-box h3 {
          font-size: 17px;
          margin: 15px 0;
      }
      
      .especiliadades .especialidades-box p{
        margin-left: -20px;
        margin-right: -20px;
      }
    

      h2.titulo{
        margin-bottom: 5px;
      }
  }



/*  DEPOIMENTOS*/
@media (max-width: 1100px) {
  div.depoimentos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #fff;
  }

  .caixaDepoimento i {
    margin-top: -200px; /*  estilo para o ícone */
    font-size: 50px;
  }

  .caixaDepoimento {
    width: 280px;
    height: 280px;
    text-align: center;
    background-color: #002fff;
    color: #ffffff;
    border-radius: 60px 70px 40px 140px;
  }

  h1.h1Depoimentos{
    margin-top: 80px;
    margin-bottom: 25px;
  }
}




/*  PITH*/
@media (max-width: 1100px) {
  
  div.caixaCtr{
   width: 350px;
   border: none;
  }
}



/*  wpp*/
@media (max-width: 1100px) {
  section.WhastApp {
    padding-top: 50px ;
    padding-bottom: 50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87%;
    border-top: 2px solid #ffffff1d;
    background-color: #000;
    color: #fff;
  }
 
        
}