body {
    margin: 0;
    font-family: Arial, sans-serif;
}


header {
    background-color: #002D54;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}

.logo {
    max-width: 100px;
    margin-left: 370px;
}

nav {
    flex-grow: 1;
    text-align: center;
   
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-size: 13px;
}

.btnContato{
    margin-right: 370px;
}


 /* EM celular */


/* MAIN */

main{
    text-align: center;
    background-color:rgb(255, 255, 255)
}

.h1PrincipalMain{
    margin-top: 40px;
    font-style: normal;
    font-size: 50px;
    font-weight: 800;
    
}
p{
    margin-top: 10px;
 }

.CTR{
    margin-top: 10px;
    color: white;
    background-color: #00B48F;
    padding: 18px;
    border-radius: 30px;
    border: none;
    width: 270px;
    height: 60px;
    font-weight: 700;
    font-size: 15px;
    
 }

 .sitesProfissionais{
    color: #008CFF;
    padding-top: 80px;
    font-size: 12px;
    font-weight: 900;
    
 }




 /* MAIN EM CELULAR */
 